<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Greeting</title>

<style>

body{
    font-family:Arial;
    text-align:center;
    background:#f2f2f2;
    margin-top:80px;
}

.card{

    width:500px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;

}

</style>

</head>

<body>

<div class="card">

<h1>Hello <span th:text="${name}"></span> 👋</h1>

<h2>Age</h2>

<p th:text="${age}"></p>

<h2>Favorite Language</h2>

<p th:text="${language}"></p>

<h2>Date</h2>

<p th:text="${date}"></p>

<h2>Time</h2>

<p th:text="${time}"></p>

</div>

</body>

</html>